.item {
    width: 606px;
    height: 36px;
    flex-shrink: 0;
}

.item:last-of-type {

}

.users {
    width: 297px;
    height: 16px;
    flex-shrink: 0;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.buttonsContainer {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    width: 606px;
    height: 36px;
    flex-shrink: 0;

}

.thead {
    width: 606px;
    height: 36px;
    flex-shrink: 0;

    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.nameCol {


}

.ageCol {

}