.greetingForm {


}

.inputAndButtonContainer {
    background-color: #fff;


}

.error {


    color: #C00;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.input {
    display: flex;
    width: 372px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #d1d1d1;
    border-radius: 5px;
    border: 0.2px solid #d1d1d1;




}

.input:focus {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 3px;
}

.errorInput {
    background-color: #fff;
    border: 1px solid red;
    border-radius: 3px;
}

.button {

    width: 100px;

    color:#FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    display: inline-flex;
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 3px;
    opacity: 0.5;
    background: #06C;

}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    /*font-family: Montserrat;*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.greeting {
    olor: #000;
    font-size: 14px;
    /*font-family: Montserrat;*/
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
